@import './vars';

body {
	font-family: 'Montserrat', system-ui;
	
	background-color: #121212;
	color: $defaultColor;

	margin: 0;
}

*, *::before, *::after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit
}

button {
    margin: 0;
    padding: 0;

    border: none;
    outline: none;

    background: none;

    color: inherit;
    font-family: inherit;
    font-size: inherit;

    line-height: 1;
}

.hide {
    display: none !important;
}

.error {
    height: 20px;
    color: $red;
    margin-top: 10px;
}